<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
		
		<link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
        

        <title>Oferta & Demanda</title>
        
        <!-- Bootstrap -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
		
        <link href="static/css/fontawesome.css" rel="stylesheet">
        <link href="static/css/themify-icons.css" rel="stylesheet">
        <link href="static/css/magnific-popup.css" rel="stylesheet">
		
        <link href="static/css/animate.css" rel="stylesheet">
        <link href="static/css/owl.carousel.min.css" rel="stylesheet">
    
        
        <!-- Main css -->
        <link href="static/css/main.css" rel="stylesheet">

        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
	
    <body>

    	<!-- Preloader -->
		<div class="preloader">
			<div class="spinner">
			   <span class="spinner-rotate"></span>
			</div>
		</div><!-- /Preloader -->

        
        <!-- Header Area -->
        <header class="main_menu_area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<nav class="navbar navbar-expand-lg navbar-light">
							<div class="mobile_toggle">
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<ul class="navbar-nav mr-auto">
									<li class="nav-item active"><a class="nav-link" href="/">Ofertas & Demandas</a></li>
									<li class="nav-item dropdown submenu">
										<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Empresas </a>
										<ul class="dropdown-menu">
											<li class="nav-item"><a class="nav-link" href="/extranjeras">Extranjeras</a></li>
											<li class="nav-item"><a class="nav-link" href="/nacionales">Nacionales</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
        </header><!-- Header Area -->
		
		<!--Hero Area-->
		<section class="hero-area dark-overlay" style="background: url(static/images/hero-banner.jpg) no-repeat">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="hero-content cl-white centered">
							<h1 class="wow fadeInUp" data-wow-delay="0.3s">Ofertas & Demandas<br><span>Empresas de Software </span>
                                <br />Nacionales y Extranjeras</h1>
						</div>
					</div>
				</div>
			</div>
		</section>
        <!--Blog Area-->
		<section class="blog-area section-padding">
			<div class="container">
				<div class="row justify-content-center wow fadeInUp" data-wow-delay="0.3s">
					<div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 centered">
						<div class="section-title">
							<h2 class="cl-black mb-40">OFERTAS</h2>
							<p>Porque es la mejor opcion, escalable y flexible capaz de manejar la diversidad de procesos de negocio y de adaptarse a sus necesidades.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 blog-slider">
                        {% for oferta in offers %}
						<div class="single-blog wow fadeInUp" data-wow-delay="0.3s">
							<img src="{{ oferta.company.logo.url }}" alt="{{ oferta.company.company_name }}">
							<div class="single-blog-content">
								<div class="single-blog-content-meta">
                                    by &mdash; <a href="">{{ oferta.company.company_name }}</a>
								</div>
								<h3><a href="{% url 'perfil-empresa' oferta.company.pk %}">{{ oferta.title }}</a></h3>
                                <p>
                                <b><h6>Descripcion : </h6></b>
                                <i>{{ oferta.description }}</i>
                                </p>
                                <p>
                                    <i class="fas fa-arrow-right"></i>
                                    <b>Tecnologias:</b><br>{{ oferta.technology }}</p>
                                <p><i class="fas fa-clock" ></i> {{ oferta.publication_date }}</p>
{#								<a class="read-more" href="">Read More</a>#}
							</div>
						</div>
                        {% endfor %}
{#						<div class="single-blog wow fadeInUp" data-wow-delay="0.4s">#}
{#							<img src="assets/images/blog2.jpg" alt="">#}
{#							<div class="single-blog-content">#}
{#								<div class="single-blog-content-meta">#}
{#									Category: <a href="">Restaurant</a> by &mdash; <a href="">Haris doe</a>#}
{#								</div>#}
{#								<h3><a href="">Hilarious Facts About AT&T CEO Randall</a></h3>#}
{#								<p>Among going manor who did. Do ye is celebrated it sympathize considered. May ecstatic did surprise elegance the ignorant age.It so numerous if he outlived disposal.</p>#}
{#								<a class="read-more" href="">Read More</a>#}
{#							</div>#}
{#						</div>#}
{#						<div class="single-blog wow fadeInUp" data-wow-delay="0.5s">#}
{#							<img src="assets/images/blog3.jpg" alt="">#}
{#							<div class="single-blog-content">#}
{#								<div class="single-blog-content-meta">#}
{#									Category: <a href="">Restaurant</a> by &mdash; <a href="">Haris doe</a>#}
{#								</div>#}
{#								<h3><a href="">Hilarious Facts About AT&T CEO Randall</a></h3>#}
{#								<p>Among going manor who did. Do ye is celebrated it sympathize considered. May ecstatic did surprise elegance the ignorant age.It so numerous if he outlived disposal.</p>#}
{#								<a class="read-more" href="">Read More</a>#}
{#							</div>#}
{#						</div>#}
					</div>
				</div>
			</div>
		</section><!--/Blog Area-->
         <!--Blog Area-->
		<section class="blog-area section-padding">
			<div class="container">
				<div class="row justify-content-center wow fadeInUp" data-wow-delay="0.3s">
					<div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 centered">
						<div class="section-title">
							<h2 class="cl-black mb-40">DEMANDAS</h2>
							<p> Software  capaz de adaptar el mundo del negocio  a una plataforma virtual,sostenible y sobretodo eficaz.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 blog-slider">
                        {% for demanda in demands %}
						<div class="single-blog wow fadeInUp" data-wow-delay="0.3s">
							<img src="{{ demanda.company.logo.url }}" alt="{{ demanda.company.company_name }}">
							<div class="single-blog-content">
								<div class="single-blog-content-meta">
                                    by &mdash; <a href="">{{ demanda.company.company_name }}</a>
								</div>
								<h3><a href="{% url 'perfil-empresa' demanda.company.pk %}">{{ demanda.title }}</a></h3>
								<p>
                                <b><h6>Descripcion : </h6></b>
                                <i>{{ demanda.description }}</i>
                                </p>
                                <p>
                                <p><i class="fas fa-arrow-right"></i> Requerimientos:<br>{{ demanda.requirements }}</p>
                                <p><i class="fas fa-clock"></i> {{ demanda.publication_date }}</p>
							</div>
						</div>
                        {% endfor %}

					</div>
				</div>
			</div>
		</section>
		<!--Listings Directory Area-->
		<section class="listings-directory section-padding">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 centered wow fadeInUp" data-wow-delay="0.3s">
						<div class="section-title">
							<h2 class="cl-black">EMPRESAS <br> NACIONALES & EXTRANJERAS </h2>
							<p>Encuentra diversidad de  soluciones en las empresas aliadas.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
		                <div id="tabsJustifiedContent" class="tab-content">
		                    <div id="new-listing" class="tab-pane fade active show">
		                        <div class="row mb-40">´
                                    {% for company in companys %}
		                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.5s">
		                                <div class="single-listing-directory">
	                                <img src="{{ company.logo.url }}" alt="{{ company.company_name }}">
	                                <div class="listing-directory-content">
                                		<a href="{% url 'perfil-empresa' company.pk %}"><h3>{{company.company_name}}</h3></a>
                                        <p><i class="fas fa-map-marker-alt"></i> {{ company.location.name }}, {{ company.location.city }}</p>
                                		<div class="listing-location">
                                			<i class="fa fa-address-book"></i>{{company.address}}
                                		</div>
                                		<div class="listing-contact">
                                			<i class="fa fa-phone"></i>{{company.phone}}
                                		</div>
	                                </div>
	                                <div class="directory-ratings">
	                                	<span><i class="fa fa-hotel"></i>Empresa Desarrolladora de Software</span>
                                        <span class="star-ratings">
			                                		<i class="fa fa-star"></i>
			                                		<i class="fa fa-star"></i>
			                                		<i class="fa fa-star"></i>
			                                		<i class="fa fa-star"></i>
			                                		<i class="fa fa-star"></i>
                                        </span>
	                                </div>
                            	</div>
		                            </div>
                                    {% endfor %}
		                        </div>
		                    </div>
		                </div>
					</div>
				</div>
			</div>
            <section style="text-align: center">
                <div>
                    <img src="/static/images/grafica1.jpeg" alt="Grafica 1" width="900" height="700" style="text-align: center">
                </div>
                <br>
                <br>
                <br>
                <div>
                     <img src="/static/images/grafica2.jpeg" alt="Grafica 2" width="900" height="700" style="text-align: center">
                </div>
            </section>
		</section>

		<div class="copyright-text">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col centered">
						<p>&copy; 2020 Todos los derechos reservados &mdash; Creado por <a href=""> Yojan & Martha </a></p>
					</div>
				</div>	
			</div>	
		</div>

			
		
			
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="static/js/jquery-3.2.1.min.js"></script>
        <script src="static/js/jquery-migrate.js"></script>
        <script src="static/js/jquery-ui.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="static/js/popper.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
		<script src="static/js/owl.carousel.min.js"></script>
        
        <script src="static/js/waypoints.min.js"></script>
        <script src="static/js/jquery.counterup.min.js"></script>
        <script src="static/js/scrollUp.min.js"></script>
        <script src="static/js/wow.min.js"></script>
        <script src="static/js/script.js"></script>
    </body>
</html>