<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
		
		<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
        

        <title>{{company.company_name}}</title>
        
        <!-- Bootstrap -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
		
        <link href="/static/css/fontawesome.css" rel="stylesheet">
        <link href="/static/css/themify-icons.css" rel="stylesheet">
        <link href="/static/css/magnific-popup.css" rel="stylesheet">
        <link href="/static/css/jquery-ui.css" rel="stylesheet">

		
        <link href="/static/css/animate.css" rel="stylesheet">
        <link href="/static/css/owl.carousel.min.css" rel="stylesheet">
    
        
        <!-- Main css -->
        <link href="/static/css/main.css" rel="stylesheet">
		
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
	
    <body>

    	<!-- Preloader -->
		<div class="preloader">
			<div class="spinner">
			   <span class="spinner-rotate"></span>
			</div>
		</div><!-- /Preloader -->
        
        <!-- Header Area -->
        <header class="main_menu_area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
							<div class="mobile_toggle">
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<ul class="navbar-nav mr-auto">
									<li class="nav-item active"><a class="nav-link" href="/">Ofertas & Demandas</a></li>
									<li class="nav-item dropdown submenu">
										<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Empresas </a>
										<ul class="dropdown-menu">
											<li class="nav-item"><a class="nav-link" href="/extranjeras">Extranjeras</a></li>
											<li class="nav-item"><a class="nav-link" href="/nacionales">Nacionales</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
        </header><!-- Header Area -->
		
		<!--Custom Hero Area-->
		<section class="custom-hero dark-overlay" style="background: url(/static/images/custom-hero-bg.jpg) no-repeat">
			<div class="container">
				<div class="row cl-white">
					<div class="col-lg-6 col-md-6">
						<div class="custom-hero-title">
							<h2>{{ company.company_name }}</h2>
						</div>
					</div>
				</div>
			</div>
		</section><!--/Custom Hero Area-->
		
		<!--Listing Details Area-->
		<section class="listing-details-area section-padding">
			<div class="container">
				<div style="text-align: center">
                    <img src="{{ company.logo.url }}" alt="{{ company.company_name }}">
                    <h2 class="cl-black">{{company.company_name}}</h2>
                    <div class="listing-directory-content">
                                		<a href=""><h3>Desarrollo de Software</h3></a>
                                        <p><i class="fas fa-map-marker-alt"></i> {{ company.location.name }}, {{ company.location.city }}</p>
                                		<div class="listing-location">
                                			<i class="fa fa-address-book"></i>{{company.address}}
                                		</div>
                                		<div class="listing-contact">
                                			<i class="fa fa-phone"></i>{{company.phone}}
                                		</div>
	                                </div>
				</div>
            </div>
        </section>
        <!--Offers Area-->
		<section class="interested-in section-padding">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 centered wow fadeInUp" data-wow-delay="0.3s">
						<div class="section-title">
							<h2 class="cl-black">OFERTAS</h2>
							<p>Those an equal point no years do. Depend warmth fat but her but played. Shy and subjects wondered trifling pleasant.</p>
						</div>
					</div>
				</div>
				<div class="row">
                    {% for oferta in offers %}
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
						<a href=""><div  align="left" class="single-interest">
							<img src="{{ oferta.company.logo.url }}" alt="{{ oferta.company.company_name }}">
							<h3 >{{ oferta.title }}</h3>
							<p>{{ oferta.description }}</p>
                            <p>{{ oferta.company}}</p>
                            <p>{{ oferta.technology}}</p>

						</div></a>
					</div>
                    {% endfor %}

				</div>
			</div>
		</section><!--/Interested In Area-->
            <!--Demands Area-->
        <section class="interested-in section-padding">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 centered wow fadeInUp" data-wow-delay="0.3s">
						<div class="section-title">
							<h2 class="cl-black">DEMANDAS</h2>
							<p>Those an equal point no years do. Depend warmth fat but her but played. Shy and subjects wondered trifling pleasant.</p>
						</div>
					</div>
				</div>
				<div class="row">
                    {% for demanda in demands %}
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
						<a href=""><div class="single-interest">
                            <img src="{{ demanda.company.logo.url }}" alt="{{ demanda.company.company_name }}">
							<h3>{{ demanda.title}}</h3>
							<p>{{ demanda.description }}</p>
                            <p>{{ demanda.requirements }}</p>
                            <p>{{ demanda.publication_date }}</p>
						</div></a>
					</div>
                    {% endfor %}
				</div>
			</div>
		</section><!--/Demands In Area-->
{##}
{#				<div class="row">#}
{#					<div class="col-lg-8 col-md-12">#}
{#						<div class="listing-details-content">#}
{#							<h2 class="cl-black">About Atrium Suites</h2>#}
{#							<p>Whole wound wrote at whose to style in. Figure ye innate former do so we. Shutters but sir yourself provided you required his. So neither related he am do believe. Nothing but you hundred had use regular. Fat sportsmen arranging preferred can. Busy paid like is oh. Dinner our ask talent her age hardly. eglected collected an attention listening do abilities. <br><br> Article nor prepare chicken you him now. Shy merits say advice ten before lovers innate add. She cordially behaviour can attempted estimable. Trees delay fancy noise manor do as an small.Felicity now law securing breeding likewise extended and. Roused either who favour why ham. </p>#}
{#							#}
{#							<div class="row mb-40">#}
{#								<div class="col-md-4 col-sm-12 col-xs-12 mb-40">#}
{#									<ul>#}
{#										<li><i class="fa fa-check"></i>Double Bed</li>#}
{#										<li><i class="fa fa-check"></i>Coffee Maker</li>#}
{#										<li><i class="fa fa-check"></i>Free Wi-Fi</li>#}
{#										<li><i class="fa fa-check"></i>Breakfast Include</li>#}
{#									</ul>#}
{#								</div>#}
{#								<div class="col-md-4 col-sm-12 col-xs-12 mb-40">#}
{#									<ul>#}
{#										<li><i class="fa fa-check"></i>Free Newspaper</li>#}
{#										<li><i class="fa fa-check"></i>50" LED TV</li>#}
{#										<li><i class="fa fa-check"></i>Air Conditioner</li>#}
{#										<li><i class="fa fa-check"></i>Beach side of Hotel</li>#}
{#									</ul>#}
{#								</div>#}
{#								<div class="col-md-4 col-sm-12 col-xs-12 mb-40">#}
{#									<ul>#}
{#										<li><i class="fa fa-check"></i>100 Sq mt</li>#}
{#										<li><i class="fa fa-check"></i>3 Persons</li>#}
{#										<li><i class="fa fa-check"></i>Sauna</li>#}
{#										<li><i class="fa fa-check"></i>24h Butler Service</li>#}
{#									</ul>#}
{#								</div>#}
{#							</div>#}
{##}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</section><!--/Listing Details Area-->#}

        <section class="faq-area section-padding">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 centered">
						<div class="section-title">
							<h2 class="cl-black">ENCUESTA</h2>
							<p>Estas son las preguntas que se realizaron en la encuesta</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s">
						<div class="faq-contents">
							<ul class="accordion">
								<li>
									<a>{{ company.question1 }}</a>
									<p>{{company.answer1}}</p>
								</li>
                                <li>
									<a>{{ company.question2 }}</a>
									<p>{{company.answer2}}</p>
								</li>
                                <li>
									<a>{{ company.question3 }}</a>
									<p>{{company.answer3}}</p>
								</li>
                                <li>
									<a>{{ company.question4 }}</a>
									<p>{{company.answer4}}</p>
								</li>
                                <li>
									<a>{{ company.question5 }}</a>
									<p>{{company.answer5}}</p>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay="0.4s">
						<div class="faq-contents">
							<ul class="accordion">
								<li>
									<a>{{ company.question6 }}</a>
									<p>{{company.answer6}}</p>
								</li>
                                <li>
									<a>{{ company.question7 }}</a>
									<p>{{company.answer7}}</p>
								</li>
                                <li>
									<a>{{ company.question8 }}</a>
									<p>{{company.answer8}}</p>
								</li>
                                <li>
									<a>{{ company.question9 }}</a>
									<p>{{company.answer9}}</p>
								</li>
							</ul>
						</div>
					</div>
                </div>
            </div>
		</section><!--/Faq Area-->

		<div class="copyright-text">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col centered">
						<p>&copy; 2020 Todos los derechos reservados &mdash; Creado por <a href=""> Yojan & Martha </a></p>
					</div>
				</div>
			</div>
		</div>


			
		
			
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/static/js/jquery-3.2.1.min.js"></script>
        <script src="/static/js/jquery-migrate.js"></script>
        <script src="/static/js/jquery-ui.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/static/js/popper.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>

		<script src="/static/js/owl.carousel.min.js"></script>

        
        <script src="/static/js/waypoints.min.js"></script>
        <script src="/static/js/jquery.counterup.min.js"></script>
        <script src="/static/js/magnific-popup.min.js"></script>
        <script src="/static/js/scrollUp.min.js"></script>
        <script src="/static/js/wow.min.js"></script>
        <script src="/static/js/script.js"></script>

    </body>
</html>
