/* ---------------------------------------

[Main Stylesheet]

Project:    	Dlisting - HTML Template
Version:    	1.0
Last Change:    16/02/2019
Primary Use:    Listing Business

------------------------------------------

[Table of contents]

1. Fonts
2. Reset Css
3. Global Settings
4. Section Styles
5. Colors
6. Margin and Padding
7. Background Overlay
8. Buttons Style
9. Preloader
10. ScrollUp Button
11. Main Header style
12. Hero Area
13. Listing Places Area
14. How It Works Area
15. Promote Business
16. Interested In Area
17. Search Listing
18. Listing Delivery Area
19. Counter Area
20. App Area
21. Blog Area
22. Footer Area
23. Custom Hero Area
24. Listing; Details Area
25. Add Listing
26. Contact Area
27. Acount Area
28. Blog Details Area
29. About Us
30. Trust us area
31. FAQs area
32. Responsive Css

-------------------------------------------*/

/*** 

====================================================================
	Fonts
====================================================================
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;

 ***/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700|Roboto');


 
 
/*** 

====================================================================
	Reset Css
====================================================================

 ***/
 
* {
	margin:0px;
	padding:0px;
	border:none;
	outline:none;
}

/*** 

====================================================================
	Global Settings
====================================================================

 ***/

body {
	font-size:16px;
	color:#504e51;
	line-height:1.7em;
	font-weight:400;
	background:#ffffff;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-family: 'Roboto', sans-serif;
}

a{
	text-decoration:none;
	cursor:pointer;
	color:#EF5B5B;
	transition: .3s;
}

button,
a:hover,a:focus,a:visited{
	text-decoration:none;
	outline:none !important;	
	transition: .3s;
}

h1,h2,h3,h4,h5,h6 {
	position:relative;
	font-weight:normal;
	margin:0px;
	background:none;
	line-height:1.6em;
	font-family: 'Poppins', sans-serif;
}

h2,h3 {
	font-weight: 700;
}

h2 {
	font-size: 36px;
	font-weight: 700;
	line-height: 50px;
}

h3 {
	font-size: 24px;
	line-height: 32px;
}

input,button,select,textarea{
	
}

textarea{
	overflow:hidden;
}

p{
	position:relative;
	line-height:1.8em;
	font-size:16px;	
}


img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.page-wrapper{
	position:relative;
	margin:0 auto;
	width:100%;
	min-width:300px;
	overflow: hidden;
}

ul,li{
	list-style:none;
	padding:0px;
	margin:0px;	
}

img{
	display:inline-block;
	max-width:100%;
}

.btn.focus, .btn:focus {
	box-shadow: none;
}

.border-0{
	border: 0px;
}

.centered{
	text-align:center;	
}

/*** 

====================================================================
   Section Styles
====================================================================

 ***/
 
.section-padding {
	padding: 120px 0;
}

.section-title {
    margin-bottom: 60px;
}


.section-title h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
	position: relative;
	margin-bottom: 20px;
}


/*** 

====================================================================
   Colors
====================================================================

 ***/
.cl-red {
	color: #EF5B5B;	
}
.cl-black {
	color: #141414;
}

.cl-white {
	color: #fff;
}


/*** 

====================================================================
   Margin and Padding
====================================================================

 ***/

/* 
   Margin Top styles
   */
.mar-0 {
	margin: 0;
}
.mt-10 {
	margin-top: 10px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-30 {
	margin-top: 30px;
}
.mt-40 {
	margin-top: 40px;
}
.mt-50 {
	margin-top: 50px;
}
.mt-60 {
	margin-top: 60px;
}


/* 
   Margin Bottom Styles
    */
.mb-10 {
	margin-bottom: 10px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mb-40 {
	margin-bottom: 40px;
}
.mb-50 {
	margin-bottom: 50px;
}
.mb-60 {
	margin-bottom: 60px;
}


/* 
   Margin Right Styles
    */
.mr-10 {
	margin-right: 10px;
}
.mr-20 {
	margin-right: 20px;
}
.mr-30 {
	margin-right: 30px;
}
.mr-40 {
	margin-right: 40px;
}
.mr-50 {
	margin-right: 50px;
}
.mr-60 {
	margin-right: 60px;
}


/* 
   Padding Top Styles
   */
.pad-0 {
	padding: 0;
}
.pt-10 {
	padding-top: 10px;
}
.pt-20 {
	padding-top: 20px;
}
.pt-30 {
	padding-top: 30px;
}
.pt-40 {
	padding-top: 40px;
}
.pt-50 {
	padding-top: 50px;
}
.pt-60 {
	padding-top: 60px;
}


/* 
   Padding Bottom Styles
*/
.pb-10 {
	padding-bottom: 10px;
}
.pb-20 {
	padding-bottom: 20px;
}
.pb-30 {
	padding-bottom: 30px;
}
.pb-40 {
	padding-bottom: 40px;
}
.pb-50 {
	padding-bottom: 50px;
}
.pb-60 {
	padding-bottom: 60px;
}
 

/*** 

====================================================================
   Background Overlay
====================================================================

 ***/
 
.dark-overlay {
	background-size: cover !important;
    position: relative;
    z-index: 1;
}

.dark-overlay:after {
	position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    content: "";
    z-index: -1;
    opacity: .6;
}
 
 
 
 
 
 

/*** 

====================================================================
   Buttons Style
====================================================================

 ***/


.bttn {
	   position: relative;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 36px;
	  letter-spacing: .3px;
    border-radius: 4px;
    display: inline-block;
}

.btn-fill{
    background: #EF5B5B;
    color: #fff !important;
    border: 1px solid #EF5B5B;
}

.btn-fill:hover{
	background-color: #dc4343;
    border: 1px solid #dc4343;
}

.btn-emt{
    background: #fff;
    color: #333333 !important;
    border: 1px solid #EF5B5B;
}

.btn-emt:hover{
	color:#fff !important;
	background-color: #EF5B5B;
}





/* ==============================
   Preloader
   ============================== */

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
  }

  .spinner {
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #EF5B5B;
    border-top-color: #ffffff;
    animation: spinner .6s linear infinite;
  }

  /*@-webkit-@keyframes spinner {*/
  /*  to {transform: rotate(360deg);}*/
  /*}*/

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }



/* 
==============================
   ScrollUp Button 
============================== 
*/

a#scrollUp {
    right: 30px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    background-color: #EF5B5B;
    text-align: center;
    line-height: 42px;
    color: #ffffff;
    border-radius: 4px;
    font-size: 12px;
}

a#scrollUp:hover {
    background-color: #DC4343;
    color: #ffffff;
}



/*

==========================
	Main Header style
==========================

*/


.main_menu_area {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 1000;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	padding: 0px 60px;
}

.navbar {
	background: transparent;
	padding: 0px;
}
.navbar .navbar-collapse {
  text-align: right;
}
@media (min-width: 992px) {
  .navbar .navbar-collapse {
	display: block !important;
  }
}
.navbar .navbar-nav {
  display: inline-block;
  text-align: right;
}
.navbar .navbar-nav > .nav-item {
  display: inline-block;
  margin-right: 40px;
  padding: 25px 0px;
}
.navbar .navbar-nav > .nav-item > .nav-link {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 35px;
  padding: 0px;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
  position: relative;
}

.navbar .navbar-nav > .nav-item > .nav-link i {
    font-size: 10px;
}

.user-icon {
    margin-right: 7px;
    font-size: 14px !important;
}

.navbar .navbar-nav > .nav-item > .nav-link:after {
  display: none;
}
.navbar .navbar-nav > .nav-item:hover a, .navbar .navbar-nav > .nav-item.active a {
  color: #EF5B5B;
}
.navbar .navbar-nav > .nav-item.submenu .dropdown-menu {
  padding: 0px;
  border: 0px;
  border-radius: 0px;
}
@media (min-width: 992px) {
  .navbar .navbar-nav > .nav-item.submenu .dropdown-menu {
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    display: block;
    min-width: 210px;
    background: #fff;
    border-radius: 0px;
    border: none;
    padding: 18px 24px;
    -webkit-box-shadow: none;
            box-shadow: none;
    visibility: hidden;
    margin-top: 1px;
    top: 120%;
    left: -23px;
    opacity: 0;
  }
}
.navbar .navbar-nav > .nav-item.submenu .dropdown-menu li {
  margin-right: 0px;
  display: block;
}
.navbar .navbar-nav > .nav-item.submenu .dropdown-menu li a {
  display: block;
  line-height: 36px;
  color: #333;
  font-size: 15px;
  padding: 0px;
  text-transform: inherit;
  -webkit-transition: all 200ms linear 0s;
  transition: all 200ms linear 0s;
  font-weight: 400;
  text-shadow: none;
}

.navbar .navbar-nav > .nav-item.submenu .dropdown-menu li.active a {
    color: #EF5B5B;
}

.navbar .navbar-nav > .nav-item.submenu .dropdown-menu li:hover a {
  color: #EF5B5B;
  padding-left: 3px;
}
@media (min-width: 992px) {
  .navbar .navbar-nav > .nav-item:hover.submenu .dropdown-menu {
    visibility: visible;
    top: 100%;
    opacity: 1;
  }
}
.navbar .navbar-nav > .nav-item:last-child {
  margin-right: 0px;
}
.navbar .navbar-nav > .nav-item.search:hover a:before {
  left: -21px;
  right: auto;
  width: 1px;
}
.navbar .search a {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
  color: #fff;
}
.navbar .search a:before {
  content: "";
  height: 15px;
  width: 1px;
  background: #c4c1c4;
  position: absolute;
  left: -21px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main_header_area_two + section {
  margin-top: 145px;
}
.main_header_area_two .navbar-toggler span {
  background: #242424;
}
.main_header_area_two.navbar_fixed {
  background: #fff;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.23);
          box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.23);
}
.main_header_area_two.navbar_fixed .header_top {
  display: none;
}

.menu_absolute {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 21;
}

.header_top {
  background: #0b3c61;
}
.header_top .header_top_info a {
  font: 300 18px/50px "Poppins", sans-serif;
  color: #fff;
}
.header_top .header_top_info a i {
  padding-right: 12px;
}
.header_top .header_top_info a + a {
  margin-left: 45px;
}
.header_top .header_top_right .header_social {
  display: inline-block;
}
.header_top .header_top_right .header_social a {
  font-size: 16px;
  line-height: 50px;
  color: #fff;
  padding-right: 18px;
}
.header_top .header_top_right .header_social a:hover {
  color: #45ae7d;
}
.header_top .header_top_right .h_select {
  width: auto;
  background: transparent;
  padding: 0px 13px 0px 22px;
  border: 0px;
  font: 600 16px/50px "Poppins", sans-serif;
  color: #fff;
  height: auto !important;
}
.header_top .header_top_right .h_select:before {
  content: "";
  width: 1px;
  height: 15px;
  background: #fff;
  display: inline-block;
  top: 2px;
  left: -20px;
  position: relative;
}
.header_top .header_top_right .h_select:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 6px dashed;
  right: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 0px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.header_top .header_top_right .h_select .list {
  border-radius: 0px;
  margin: 0px;
}
.header_top .header_top_right .h_select .list li {
  color: #242424;
  padding: 0px 30px;
}

.menu_two .navbar-nav > .nav-item {
  padding: 30px 0px;
}
.menu_two .navbar-nav > .nav-item .nav-link {
  color: #242424;
}
.menu_two .navbar-nav > .nav-item.submenu .dropdown-menu {
  margin-top: 0px;
}
@media (min-width: 992px) {
  .menu_two .navbar-nav > .nav-item.search a {
    color: #606060;
  }
}

.main_header_area_three {
  background: #1c1c1c;
  padding: 0px 50px;
}
.main_header_area_three + section, .main_header_area_three + div {
  margin-top: 86px;
}

.menu_three .navbar-nav > .nav-item:hover a:before, .menu_three .navbar-nav > .nav-item.active a:before {
  width: 100%;
}
.menu_three .navbar-nav > .nav-item.submenu .dropdown-menu {
  margin-top: 0px;
}

.main_header_area_four + section, .main_header_area_four + div {
  margin-top: 108px;
}

@media (min-width: 768px) {
  .main_header_area_five + section, .main_header_area_five + div {
    margin-top: 102px;
  }
}

.header_logo_area {
  background: #fff;
  padding: 29px 0px;
}
.header_logo_area .logo {
  line-height: 40px;
  display: inline-block;
}
.header_logo_area .media i {
  font-size: 25px;
  line-height: 34px;
  color: #45ae7d;
  padding-right: 20px;
}
.header_logo_area .media h4 {
  font: 400 15px/22px "Poppins", sans-serif;
  letter-spacing: 0.45px;
  color: #333333;
  margin-bottom: 0px;
}
.header_logo_area .media p {
  font: 400 14px/22px "Poppins", sans-serif;
  letter-spacing: 0.42px;
  color: #767676;
  margin-bottom: 0px;
}
.header_logo_area .media + .media {
  margin-left: 50px;
}
.header_logo_area .slider_btn {
  line-height: 50px;
  padding: 0px 44px;
  margin-left: 55px;
}

.navbar.menu_four {
  background: rgba(28, 28, 28, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0px 15px;
}
@media (min-width: 992px) {
  .navbar.menu_four .navbar-brand {
    display: none;
  }
}
@media (min-width: 992px) {
  .navbar.menu_four .collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
.navbar.menu_four .navbar-nav > .nav-item {
  margin-right: 0px;
  margin-left: 33px;
  padding: 12px 0px;
}
.navbar.menu_four .navbar-nav > .nav-item:first-child {
  margin-left: 0px;
}
.navbar.menu_four .navbar-nav .search {
  margin-left: 45px;
}
.navbar.menu_four .navbar-nav .search:before {
  left: -24px;
  background: #cbc9cc;
}
.navbar.menu_four .navbar-nav .search:hover .nav-link:before {
  display: none;
}
.navbar.menu_four .navbar-nav.social_icon {
  margin-left: 0px;
}
.navbar.menu_four .navbar-nav.social_icon .nav-item {
  margin-left: 20px;
}
.navbar.menu_four .navbar-nav.social_icon .nav-item .nav-link {
  font-size: 18px;
}
.navbar.menu_four .navbar-nav.social_icon .nav-item .nav-link:before {
  display: none;
}
.navbar.menu_four .navbar-nav.social_icon .nav-item .nav-link:hover {
  color: #45ae7d;
}

.menu_five {
  background: #45ae7d;
}
@media (min-width: 992px) {
  .menu_five .navbar-brand {
    display: none;
  }
}
.menu_five .navbar-collapse {
  text-align: left;
}
.menu_five .navbar-nav > .nav-item {
  margin-right: 0px;
  margin-left: 33px;
  padding: 12px 0px;
}
.menu_five .navbar-nav > .nav-item .nav-link {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-shadow: none;
}
.menu_five .navbar-nav > .nav-item .nav-link:before {
  display: none;
}
@media (min-width: 992px) {
  .menu_five .navbar-nav > .nav-item.active .nav-link, .menu_five .navbar-nav > .nav-item:hover .nav-link {
    color: #242424;
  }
}
.menu_five .navbar-nav > .nav-item.submenu .dropdown-menu {
  margin-top: 0px;
  left: -16px;
}
.menu_five .navbar-nav > .nav-item.search a:before {
  background: #b5dfcb;
}
.menu_five .navbar-nav > .nav-item.search:hover a {
  color: #242424;
}
.menu_five .request_btn {
  display: inline-block;
  font: 500 15px/60px "Poppins", sans-serif;
  background: #26252b;
  text-transform: uppercase;
  color: #fff;
  float: right;
  padding: 0px 40px;
  letter-spacing: 0.6px;
}
.menu_five .request_btn:hover {
  background: #4349d9;
}

.navbar-toggler[aria-expanded="false"] span:nth-child(2) {
  opacity: 1;
}

.navbar-toggler[aria-expanded="true"] span:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.navbar-toggler[aria-expanded="true"] span:first-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
  top: 7.7px;
}

.navbar-toggler[aria-expanded="true"] span:last-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 4.5px;
  position: relative;
}

.navbar-toggler {
  border: 0px;
  padding: 0px;
  cursor: pointer;
  margin-top: 2px;
}
.navbar-toggler span {
  display: block;
  width: 25px;
  height: 2px;
  background: #fff;
  margin: auto;
  margin-bottom: 4px;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
  cursor: pointer;
}
.navbar-toggler span:last-child {
  margin-bottom: 0px;
}

@media (min-width: 992px) {
  .mobile_toggle {
    display: none;
  }
}

/*======== menu fixed css ========*/
.navbar_fixed {
  width: 100%;
  left: 0;
  top: -70px;
  background: #2C2C2C;
  position: fixed;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  border-bottom: 0px;
  z-index: 999;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
  transition: background 100ms linear, -webkit-transform 500ms ease;
  -webkit-transition: background 100ms linear, -webkit-transform 500ms ease;
  transition: transform 500ms ease, background 100ms linear;
  transition: transform 500ms ease, background 100ms linear, -webkit-transform 500ms ease;
}
.navbar_fixed .navbar .navbar-nav > .nav-item {
  padding: 18px 0px;
}
.navbar_fixed .navbar .navbar-nav > .nav-item.submenu .dropdown-menu {
  margin-top: 0px;
  box-shadow: 0px 0px 10px #66666669;
}
.navbar_fixed .header_logo_area {
  display: none;
}

.main_header_area_two.navbar_fixed {
  background: #fff;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.23);
          box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.23);
}
.main_header_area_two.navbar_fixed .header_top {
  display: none;
}

.main_header_area_five.navbar_fixed {
  background: #45ae7d;
}
.main_header_area_five.navbar_fixed .menu_five .navbar-nav > .nav-item {
  padding: 12px 0px;
}
.main_header_area_five.navbar_fixed .menu_five .navbar-nav > .nav-item:first-child {
  margin-left: 0px;
}

/* End Main Menu Area css
============================================================================================ */




/*

===============================
Hero Area
===============================

*/
.hero-area {
	padding: 340px 0;
	background-size: cover !important;
}

.hero-area h1 {
	font-size: 68px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 70px;
}

.hero-area h1 span {
	font-size: 40px;
    font-weight: 400;
}

.listing-label {
	margin-bottom: 20px;
      border: 0;
}

.listing-label a {
	display: inline-block;
    color: #fff;
    margin-right: 20px;
	font-size: 16px;
}

.listing-label a:hover, .listing-label a.active {
    color: #EF5B5B;
}

.listing-label a span i {
    margin-right: 5px;
}




.listing-form {
  display: none;
}

.listing-form.active.show {
  display: block;
}

.listing-form input, .listing-form select {
	width: 37.5%;
	height: 55px;
	float: left;
	text-indent: 15px;
	font-size: 16px;
}

.listing-form input {
	border-radius: 4px 0 0 4px;
	background: url(../images/search.png) no-repeat;
	background-color: #fff;
    background-position: center right 20px;
    border-right: 1px solid #D6D6D6;
}

.listing-form button {
  width: 25%;
  height: 55px;
  background: #EF5B5B;
  border-radius: 0px 4px 4px 0px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}


.listing-form button:hover {
	background: #DC4343;
}




/*

===============================
Listing Places Area
===============================

*/
.listing-places-area {
	padding-bottom: 0px;
}

.single-listing-place {
    position: relative;
	transition: .4s;
	margin-bottom: 30px;
	overflow: hidden;
	border-radius: 4px;
}

.single-listing-place img {
	transition: .6s;
	width: 100%;
}

.single-listing-place:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #333333cf;
    top: 0;
	opacity: 0;
	transition: .4s;
}

.single-listing-place:hover.single-listing-place:after {
	opacity: 1;
}

.single-listing-place:hover img {
    transform: scale(1.1);
}

.listing-place-title {
    padding: 75px 0;
}

.listing-place-title h2 {
	margin-bottom: 20px;
}

.listing-place-name {
    position: absolute;
    bottom: 30px;
    left: 30px;
  	color: #fff;
  	z-index: 1;
}


.listing-place-name h3 {
    font-size: 24px;
	font-weight: 700;
}
.listing-place-name p {
    margin: 0;
}




/*

===============================
How It Works Area
===============================

*/
.how-it-works {
	
}

.single-how-it-works {
	text-align: center;
}

.single-how-it-works img {
	margin-bottom: 30px;
}

.single-how-it-works h3 {
	margin-bottom: 10px;
}

/*

===============================
Promote Business
===============================

*/



/*

===============================
Interested in Area
===============================

*/

.single-interest {
    text-align: center;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
    padding-bottom: 20px;
    margin-bottom: 30px;
    transition: .4s;
}

.single-interest:hover {
    box-shadow: 0px 14px 40px 0px rgba(0, 0, 0, 0.15);
}

.single-interest:hover h3 {
    color: #EF5B5B;
}



.single-interest img {
    margin-bottom: 20px;
    width: 100%;
}

.single-interest h3 {
    margin-bottom: 10px;
    color: #141414;
    transition: .4s;
}

.single-interest p {
    margin: 0px;
    color: #504e51;
}


/*

===============================
Search Listing Area
===============================

*/
.search-listing {
  
}

.search-listing h3 {
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.5px;
}

.search-listing h2 {
    margin: 0;
}

.promo-btn {
  float: right;
}



/*

===============================
Listings Directory Area
===============================

*/

.listings-directory {

}

.single-listing-directory {
    border: 1px solid #CACACA;
    transition: .4s;
    margin-bottom: 30px;
}
.single-listing-directory img {
    width: 100%;
}

.listing-directory-content {
    padding: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CACACA;
}

.listing-directory-content a {
    color: #141414;
}

.single-listing-directory:hover {
   box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.3);
}
.single-listing-directory:hover a {
    color: #EF5B5B;
}

.single-listing-directory:hover .directory-wishlist {
    background: #EF5B5B;
    color: #fff;
}


.listing-directory-content h3 {
    margin-bottom: 15px;
}

.listing-directory-content p {
    margin-bottom: 10px;
}

.listing-location {
    margin-bottom: 8px;
}

.listing-location i {
    margin-right: 5px;
}

.listing-contact i {
    margin-right: 5px;
}


.directory-ratings {
    padding: 10px 25px;
    border-top: 0px;
    position: relative;
}


.directory-ratings span {
    margin-right: 10px;
}
.directory-ratings span i {
    margin-right: 5px;
}
.star-ratings i {
  margin-right: -3px !important;
  color: #EF5B5B;
  font-size: 14px;
}


.directory-wishlist {
    position: absolute;
    top: -23px;
    right: 25px;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 48px;
    background: #141414;
    margin-right: 0px !important;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    color: #EF5B5B;
    font-size: 22px;
    padding-left: 5px;
    transition: .3s;
}


.directory-wishlist:hover {
    background: #EF5B5B;
    color: #fff;
}


.listings-directory-tab-btns {
    border-bottom: 0px;
}

.listings-directory-tab-btns li a {
    padding: 12px 32px;
    background: #fff;
    color: #141414;
    border: 1px solid #CACACA;
    display: block;
}


.listings-directory-tab-btns li a.active {
    background: #EF5B5B;
    border: 1px solid #EF5B5B;
    color: #fff;
}

.bor-radius-lft {
  border-radius: 4px 0px 0px 4px;
}

.bor-radius-rgt {
  border-radius: 0px 4px 4px 0px;
}






.listing-List-area .single-listing-directory {
    border: 0px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.3);
    margin: 0;
}


.listing-List-area .single-listing-directory .col-md-6 {
    padding: 0px;
}
.listing-List-area .single-listing-directory .col-md-6 img {
    height: 100%;
}

.single-listing-directory {
  margin-bottom: 30px !important;
}



/*

===============================
Counter Area
===============================

*/

.counter-area {
  
}

.single-counter {
    color: #fff;
    text-align: center;
}


.single-counter img {
    margin-bottom: 30px; 
    width: 80px;
    height: auto;
}


.single-counter h3 {
    font-size: 42px;
    color: #ef5b5b;
    font-weight: 700;
    margin-bottom: 10px;     
}

.single-counter p {
    font-size: 18px;
}


/*

===============================
App Area
===============================

*/
.app-area {
    
}

.app-content {
    
}


.app-content ul {
    margin-bottom: 30px;
}

.app-content ul li {
    margin-bottom: 8px;
}

.app-content ul li i {
    color: #008000;
    margin-right: 5px;
}


.app-content a i {
    margin-right: 5px;
}


/*

===============================
Blog Area
===============================

*/
.blog-area {
  
}
.single-blog {
    
}

.single-blog img {
    width: 100%;
}


.single-blog a {
    color: #141414;
}


.read-more {
    color: #fff !important;
    padding: 6px 16px;
    border-radius: 4px;
    background: #ef5b5b;
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .5px;
}

.read-more:hover {
    background: #DC4343;
}

.single-blog h3 {
    margin-bottom: 20px;
}

.single-blog a:hover {
    color: #ef5b5b;
}


.single-blog-content {

}

.single-blog-content-meta {
  margin: 10px 0;
}

.single-blog-content-meta a {
  color: #EF5B5B;
  margin-right: 10px;
  font-style: italic;
}


/*

===============================
Footer Area
===============================

*/
.footer-area {
    background: #2C2C2C;
    color: #fff;
    border-bottom: 1px solid #3F3F3F;
}

.single-footer {
    background: #2C2C2C;
}

.single-footer img {
    margin-bottom: 15px;
}

.single-footer img, .single-footer h3 {
    margin-bottom: 15px;
}
.single-footer h3 {
    font-weight: 400;
    font-size: 22px;
}

.social-media a {
  font-size: 14px;
  margin-right: 15px;
  color: #fff; 
}

.social-media a:hover {
  color: #EF5B5B; 
}


.footer-menu ul li a {
    color: #fff; 
    margin-bottom: 5px;
    display: block;
}

.footer-menu ul li a:hover {
  color: #EF5B5B; 
}

.footer-subscriber {
    padding: 0 20px;
}

.newsletter {
  margin-bottom: 20px;
}

.newsletter form {
    border: 1px solid #565656;
    border-radius: 4px;
    height: 50px;
    width: 100%;
}

.newsletter input {
    text-indent: 10px;
    width: 80%;
    float: left;
    height: 100%;
    background: none;
    color: #fff;
    border-right: 1px solid #565656;
}

.newsletter button {
    width: 20%;
    border: 0px;
    height: 100%;
    background: none;
    cursor: pointer;
    color: #ef5b5b;
    font-size: 22px;
}


.footer-contact-info p {
    width: 88%;
    float: left;
}

.footer-contact-info a {
    color: #fff;
}

.footer-contact-info a:hover {
    color: #EF5B5B;
}

.footer-contact-info i {
    width: 12%;
    float: left;
    line-height: 30px;
    color: #EF5B5B;
}



.copyright-text {
  background: #2C2C2C;
  padding: 15px 0;
}
.copyright-text p {
  margin: 0;
  color: #fff;
}
.copyright-text a:hover {
  color: #EF5B5B;
}







/*

===============================
Custom Hero
===============================

*/
.custom-hero {
    padding-top: 210px;
    padding-bottom: 120px;
    padding: 210px 0 120px 0;
}

.custom-hero-title h2 {
    font-size: 42px;
}

.custom-hero-breadcrumb {
    float: right;
    position: relative;
}

.custom-hero-breadcrumb ul li {
    float: left;
    margin-left: 25px;
}

.custom-hero-breadcrumb ul li:after {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #EF5B5B;
    border-radius: 50%;
    top: 7px;
}

.custom-hero-breadcrumb ul li a {
    color: #fff;
    margin-right: 10px;
}

.custom-hero-breadcrumb ul li a:hover {
    color: #EF5B5B;
}

.custom-hero-breadcrumb ul li:last-child:after {
    display: none;
}




.page-sidebar {
  
}


.single-sidebar-block {
  margin-bottom: 30px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
}


.single-sidebar-block h3 {
  font-size: 22px;
  color: #141414;
  margin-bottom: 15px;
}

.sidebar-search {
  
}

.sidebar-search form {
    border-radius: 4px;
    height: 50px;
    width: 100%;
    background: #fff;
    border-radius: 4px;
}

.sidebar-search form input {
    text-indent: 20px;
    width: 80%;
    float: left;
    height: 100%;
    background: none;
    color: #000;
}


.sidebar-search form button {
    width: 20%;
    border: 0px;
    height: 100%;
    background: none;
    cursor: pointer;
    color: #333;
    font-size: 16px;
}

.location-list {
  padding: 30px 25px;
}

.location-list ul li {
  margin-bottom: 10px;
}

.location-list ul li:last-child {
  margin-bottom: 0px;
}


.location-list ul li a {
  color: #504e51;
  display: block;
    transition: .4s;
}

.location-list ul li a i {
    display: none;
    color: #EF5B5B;
    font-size: 14px;
    margin-right: 8px;
    transition: .4s;
}

.location-list ul li a:hover i {
  display: inline-block;
}


.category-list {
    padding: 30px 0;
}
.category-list h3 {
    padding-left: 25px;
}

.cat-anchors li {
    margin-bottom: 5px;
}

.cat-anchors a {
    display: block;
    padding: 3px 25px;
    color: #504e51;
}


.cat-anchors li:last-child {
    margin-bottom: 0px;    
}

.cat-anchors a:hover {
    background: #EF5B5B;
    color: #fff;
}

.cat-anchors a span {
    float: right;
}




.popular-tags {
	padding: 30px 25px;
}


.popular-tags a {
	display: inline-block;
    padding: 5px 14px;
    border: 1px solid #CCCCCC;
    color: #504e51;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.popular-tags a:hover {
	background: #EF5B5B;
	color: #fff;
    border: 1px solid #EF5B5B;	
}


/*

===============================
Listing Details
===============================

*/

.single-listing-gallary {
    position: relative;
}


.popup-gallery:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    display: block;
    z-index: 2;
    transition: 0.4s;
}


.single-listing-gallary:hover .popup-gallery:before {
    opacity: 0.6;
}



.single-listing-gallary:hover i {
    opacity: 1;
}



.single-listing-gallary i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    z-index: 4;
    cursor: pointer;
    opacity: 0;
}







.listing-details-content h2 {
  margin-bottom: 20px;
}


.listing-details-content p {
  margin-bottom: 30px;
}

.listing-details-content ul li {
    margin-bottom: 10px;
}

.listing-details-content ul li i {
    margin-right: 10px;
    color: #3EA35F;
}


.room-reviews h2 {
  border-bottom: 1px solid #ECECEC;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.room-ratings i {
    margin-right: -4px;
    color: #EF5B5B;
}

.room-single-review {
  border-bottom: 1px solid #ECECEC;
  margin-bottom: 30px;
}


.room-single-review:last-child {
  border-bottom: 0px solid #ECECEC;
  margin-bottom: 0;
}


.price-tag, .booking-form {
    padding: 30px 25px;
}

.price-tag h4 {
    font-size: 22px;
    color: #141414;
    font-weight: 700;
    margin: 0;
}
.price-tag h4 span {
    font-size: 16px;
    font-weight: 400;
}


.booking-form {
  
}

.booking-form input, .booking-form select {
    width: 100%;
    border: 1px solid #CCCCCC;
    height: 50px;
    border-radius: 4px;
    text-indent: 10px;
    margin-bottom: 20px;
    transition: .4s;
}

.booking-form input:focus, .booking-form select:focus {
    border: 1px solid #EF5B5B;
}


.booking-form button {
    font-size: 16px;
    font-weight: 400;
    padding: 12px 36px;
    letter-spacing: .3px;
    border-radius: 4px;
    display: inline-block;
    background: #EF5B5B;
    color: #fff !important;
    border: 1px solid #EF5B5B;
    cursor: pointer;
}

.booking-form button:hover {
    background-color: #dc4343;
    border: 1px solid #dc4343;
}





/*

===============================
Add Listing
===============================

*/
.add-listing-area {
  
}
.add-listing-area input {
  border: 1px solid #CCCCCC;
  transition: .4s;
}
.add-listing-area input[type="text"] {
  width: 100%;
  height: 55px;
  margin-bottom: 30px;
  text-indent: 15px;
  border-radius: 4px;
}
.add-listing-area select {
  width: 100%;
  height: 55px;
  margin-bottom: 30px;
  text-indent: 15px;
  border-radius: 4px;
  border: 1px solid #CCCCCC;
}
.add-listing-area input:focus, .add-listing-area textarea:focus  {
  border: 1px solid #EF5B5B;
}
.add-listing-area h3 {
  color: #141414;
  font-size: 30px;
  margin-bottom: 30px;
}
.add-listing-area h4 {
  color: #141414;
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 700;
}
.add-listing-area input[type="checkbox"] {
  margin-right: 8px;
}
.add-listing-area textarea {
  width: 100%;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding-top: 15px;
  text-indent: 15px;
  transition: .4s;
  margin-bottom: 30px;
}

.file-input {
  text-align: center;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding: 80px 0;
}

.file-input img {
  margin-bottom: 20px;
}

.file-input input[type="file"] {
    border: 0px solid;
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 0px;
    cursor: pointer;
}


.add-listing-map {
    width: 100%;
    height: 450px;
    margin-bottom: 30px;
}




.switch {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 12px;
    line-height: 13px;
    margin-right: 8px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #504E51;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    top: -1px;
    -webkit-transition: .4s;
    transition: .4s;
    left: -1px;
    border: 1px solid #504E51;
}

input:checked + .slider {
  background-color: #EF5B5B;
  border: 1px solid #EF5B5B;
}

input:focus + .slider {
  
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
      background: #fff;
    border: 1px solid #EF5B5B;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/*

===============================
Contact Area
===============================

*/
.contact-area, .map-area {
  padding-bottom: 0;
}

.contact-form {
  
}

.contact-form input, .contact-form textarea  {
  width: 100%;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  text-indent: 15px;
  transition: .4s;
  margin-bottom: 30px;
}
.contact-form input {
  height: 55px;
}
.contact-form textarea {
  padding-top: 15px;
}


.contact-form input:focus, .contact-form textarea:focus {
  border: 1px solid #EF5B5B;
}
.contact-form button {
  cursor: pointer;
}

.map-area {
    width: 100%;
    height: 600px;
}

/*

===============================
Account area
===============================

*/
.account-area {

}
.account-form h2 {
  margin-bottom: 20px;
  color: #141414;
}
.account-form input, .account-form select {
    width: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    text-indent: 15px;
    transition: .4s;
    margin-bottom: 30px;
    height: 55px;
    transition: .4s;
}

.account-form input:focus, .account-form select:focus {
    border: 1px solid #EF5B5B;
}

.account-form button {
    cursor: pointer;
}

.account-form a {
    float: right;
    color: #343434;
    margin-top: 15px;
}

.account-form a:hover {
    float: right;
    color: #EF5B5B;
}


/*

===============================
Blog Details
===============================

*/
.blog-details-area {
  
}
.blog-details-content {
  
}
.blog-details-content img {
  width: 100%;
  margin-bottom: 20px;
}

.blog-meta {
  
}

.blog-meta p {
  font-size: 14px;
}

.blog-meta a {
  color: #504e51;
  margin-left: 15px;
}
.blog-meta a:hover {
  color: #EF5B5B;
}

.blog-meta i {
  margin-right: 5px;
}

.quote {
    background: #504E51;
    color: #fff;
    text-align: center;
    padding: 30px 40px;
    margin-bottom: 20px;
}

.blog-tag-share {
  overflow: hidden;
  margin-bottom: 30px;
}

.blog-tag {
  float: left;
}


.blog-tag i {
  margin-right: 5px;
}
.blog-tag a {
  color: #504e51;
}

.blog-tag a:hover {
  color: #EF5B5B;
}


.blog-share {
  float: right;
}

.blog-share a {
  color: #504e51;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #ECECEC;
  display: inline-block;
  border-radius: 50%;
  margin-left: 15px;
}

.blog-share a:hover {
  background: #EF5B5B;
  color: #fff;
  border: 1px solid #EF5B5B;
}


.blog-comments {
  
}
.blog-comments h2 {
  border-bottom: 1px solid #ECECEC;
  color: #141414;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.single-comment {
  border-bottom: 1px solid #ECECEC;
}
.single-comment h4 {
  color: #141414;
  /*font-size: #141414;*/
  font-weight: 700;
}


.comment-form {
  
}


.comment-form h2 {
  color: #141414;
  margin-bottom: 20px;
}

.comment-form input, .comment-form textarea {
  width: 100%;
  border: 1px solid #ECECEC;
  border-radius: 4px;
  text-indent: 15px;
  margin-bottom: 20px;
  transition: .4s;
}

.comment-form input:focus, .comment-form textarea:focus {
  border: 1px solid #EF5B5B;
}

.comment-form input {
  height: 55px;
}

.comment-form textarea {
  padding-top: 15px;
}


.comment-form button {
  cursor: pointer;
}




.most-viewed-post {
    padding: 30px 25px;
}

.single-most-viewed-post {
  display: block;
}
.single-most-viewed-post:hover h4 {
    color: #EF5B5B;
}

.single-most-viewed-post img {
    margin-bottom: 15px;
    width: 100%;
}

.single-most-viewed-post h4 {
    font-size: 16px;
    line-height: 24px;
    color: #141414;
    transition: .4s;
}



.instagram-feed {
  padding: 30px 25px;
}




/*

===============================
About Us
===============================

*/


.single-about-content {
  margin-top: 40px;
}

.div-img-bg {
    padding-bottom: 50px;
    border: 20px solid #EF5B5B;
    width: 90%;
    box-shadow: -3.536px 3.536px 9px 0px rgba(0, 0, 0, 0.25);
}

.div-img-bg .about-img img {
    box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
    margin-top: -80px;
    margin-left: -70px;
    height: 400px;
    object-fit: cover;
}



.single-about-content h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #141414;
}

.single-about-content ul {
  margin-top: 20px;
}

.single-about-content ul li {
  margin-bottom: 10px;
}

.single-about-content ul li i {
  margin-right: 8px;
}


.single-testimonial {
  background: #fff;
  padding: 30px;
}

.single-testimonial p {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 15px;
}

.single-testimonial h4 {
  font-size: 22px;
  font-weight: 600;
  color: #141414;
}


/*

===============================
 Trust us area
===============================

*/

.trust-us-area {

}
.trust-content h2, .trust-content p {
  margin-bottom: 20px;
}




/*

===============================
 FAQs-area
===============================

*/

.faq-area {
  
}

.faq-area h3 {
    font-weight: 700;
    font-size: 22px;
    color: #222222;
    margin-bottom: 15px;
}

.faq-contents {
  display:block;
  height:auto;
}

.accordion {
  max-width: 800px;
  margin: 0 auto 40px;
  list-style: none;
  padding: 0;
}
.accordion li {
  position: relative;
  margin-bottom:20px;
  border: 1px solid #CCCCCC;
}
.accordion li:last-child {
  
}
.accordion li p {
  display: none;
  padding: 10px 30px 0 30px;
  color: #333;
  font-size:16px;
  background: #fff;
}
.accordion li a i{
  font-size:18px;
  color:#fff;
  margin-right:20px;
}
.accordion a {
  width: 100%;
    display: block;
    cursor: pointer;
    line-height: 3;
    font-size: 18px;
    text-indent: 30px;
    color: #222 !important;
    user-select: none;
    font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.accordion a.active {
    color: #1556A6;
    border: 0;
}
.accordion a:after {
  width: 10px;
  height: 10px;
  border-right: 3px solid #EF5B5B;
  border-bottom: 3px solid #EF5B5B;
  position: absolute;
  right: 25px;
  content: " ";
  top: 24px;
  transform: rotate(45deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.accordion p {
  font-size: 13px;
  line-height: 2;
  padding: 10px;
}

.accordion a.active:after {
  transform: rotate(225deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}



/*

===============================
Responsive CSS codes
===============================

*/


@media (max-width:1199px) {

    .navbar .navbar-nav > .nav-item {
        margin-right: 28px;
    }

    @media (max-width: 991px) {
        /*    header responsive*/
        .navbar .navbar-nav {
            display: block;
            text-align: left;
            padding: 20px;
            background: #2C2C2C;
        }

        .navbar .navbar-nav > .nav-item {
            display: block;
            margin-right: 0px;
            padding: 0px;
        }

        .navbar_fixed .navbar .navbar-nav > .nav-item {
            padding: 0px;
        }

        .navbar .navbar-nav > .nav-item > .nav-link {
            display: inline-block;
            line-height: 45px;
        }

        .navbar .search a:before {
            display: none;
        }

        .navbar-nav.justify-content-end {
            display: none;
        }

        .navbar-brand {
            padding: 20px 0px;
        }

        .main_menu_area {
            padding: 0px 15px;
        }

        .navbar .navbar-nav > .nav-item > .nav-link:before {
            bottom: 0;
        }

        .navbar .navbar-nav > .nav-item.submenu .dropdown-menu {
            background: #2C2C2C;
            margin: 0px;
            -webkit-transition: max-height 0.5s, opacity 0.2s 0.1s, visibility 0s 0s;
            -moz-transition: max-height 0.5s, opacity 0.2s 0.1s, visibility 0s 0s;
            -ms-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0s;
            -o-transition: max-height 0.5s, opacity 0.2s 0.1s, visibility 0s 0s;
            transition: max-height 0.5s, opacity 0.2s 0.1s, visibility 0s 0s;
            max-height: 0;
            display: block;
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
        }

        .navbar .navbar-nav > .nav-item.submenu .dropdown-menu.show {
            -webkit-transition: max-height 0.5s, opacity 0.2s 0.1s, visibility 0s 0s;
            -moz-transition: max-height 0.5s, opacity 0.2s 0.1s, visibility 0s 0s;
            -ms-transition: max-height 0.5s, opacity 0.2s 0.1s, visibility 0s 0s;
            -o-transition: max-height 0.5s, opacity 0.2s 0.1s, visibility 0s 0s;
            transition: max-height 0.5s, opacity 0.2s 0.1s, visibility 0s 0s;
            max-height: 250px;
            overflow-y: scroll;
            display: block;
            opacity: 1;
            visibility: visible;
        }

        .navbar .navbar-collapse {
            margin-left: -15px;
            margin-right: -15px;
            max-height: 400px;
            overflow-y: scroll;
        }

        .navbar .navbar-nav > .nav-item.submenu .dropdown-menu li {
            padding: 4px 20px;
        }

        .navbar_fixed .navbar .navbar-nav > .nav-item .nav-link {
            line-height: 45px;
        }

        .main_header_area_three + section {
            margin-top: 71px;
        }

        .header_logo_area .media + .media {
            margin-left: 41px;
        }

        .menu_five {
            padding: 0px 15px;
        }

        .main_header_area_five .header_logo_area .media + .media {
            margin-left: 32px;
        }

        .header_logo_area .float-left, .menu_five .request_btn {
            display: none;
        }

        .menu_five .navbar-nav > .nav-item {
            margin-left: 0px;
        }

        .main_header_area_five.navbar_fixed .menu_five .navbar-nav > .nav-item {
            padding: 0px;
        }

        .header_logo_area .float-right {
            width: 100%;
        }
    }

    @media (max-width: 767px) {

    }
    @media (max-width: 576px) {

    }

    @media (max-width: 500px) {


    }

    @media (max-width: 480px) {

    }














    @media (min-width: 1281px) {


    }

    /*
      ##Device = Laptops, Desktops
      ##Screen = B/w 1025px to 1280px
    */
    @media (min-width: 1025px) and (max-width: 1280px) {


    }

    /*
      ##Device = Tablets, Ipads (portrait)
      ##Screen = B/w 768px to 1024px
    */
    @media (min-width: 768px) and (max-width: 1024px) {
        .navbar_fixed .navbar .navbar-nav > .nav-item.submenu .dropdown-menu {
            box-shadow: none;
        }

        .navbar .navbar-nav > .nav-item.submenu .dropdown-menu li a {
            color: #666;
        }

        .navbar .navbar-nav > .nav-item > .nav-link {
            display: block;
        }

        .navbar .navbar-nav > .nav-item > .nav-link i {
            line-height: 45px;
        }

        .user-icon {
            margin-right: 0px;
        }

        .section-padding {
            padding: 80px 0;
        }

        .hero-area {
            padding: 200px 0;
        }

        .listing-place-title {
            padding: 20px 0;
        }

        .listing-places-area {
            padding-bottom: 0px;
        }

        .single-how-it-works {
            margin-bottom: 30px;
        }

        .promo-btn {
            float: none;
        }

        .single-counter {
            margin-bottom: 30px;
        }

        .app-content, .single-blog, .single-footer {
            margin-bottom: 40px;
        }

        .footer-subscriber {
            padding: 0;
        }

        .trust-content, .faq-contents, .single-listing-gallary, .file-input, .comment-form, .account-form {
            margin-bottom: 30px;
        }

        .blog-share {
            float: left;
        }


    }

    /*
      ##Device = Tablets, Ipads (landscape)
      ##Screen = B/w 768px to 1024px
    */
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        .navbar_fixed .navbar .navbar-nav > .nav-item.submenu .dropdown-menu {
            box-shadow: none;
        }

        .navbar .navbar-nav > .nav-item.submenu .dropdown-menu li a {
            color: #f5f5f5;
        }

        .navbar .navbar-nav > .nav-item > .nav-link {
            display: block;
        }

        .navbar .navbar-nav > .nav-item > .nav-link i {
            float: right;
            line-height: 45px;
        }

        .user-icon {
            margin-right: 0px;
        }

        .section-padding {
            padding: 80px 0;
        }

        .hero-area {
            padding: 200px 0;
        }

        .promo-btn {
            float: none;
        }

        .listing-places-area {
            padding-bottom: 0px;
        }

        .single-counter {
            margin-bottom: 30px;
        }

        .app-content, .single-blog, .single-footer {
            margin-bottom: 40px;
        }

        .footer-subscriber {
            padding: 0;
        }

        .custom-hero-breadcrumb {
            float: left;
        }

        .custom-hero-breadcrumb {
            margin-top: 15px;
        }

        .custom-hero-breadcrumb ul li:first-child {
            margin-left: 0;
        }

        .trust-content, .faq-contents, .single-listing-gallary, .file-input, .comment-form, .account-form {
            margin-bottom: 30px;
        }

        .blog-share {
            float: left;
        }

    }

    /*
      ##Device = Low Resolution Tablets, Mobiles (Landscape)
      ##Screen = B/w 481px to 767px
    */
    @media (min-width: 481px) and (max-width: 767px) {
        .navbar_fixed .navbar .navbar-nav > .nav-item.submenu .dropdown-menu {
            box-shadow: none;
        }

        .navbar .navbar-nav > .nav-item.submenu .dropdown-menu li a {
            color: #f5f5f5;
        }

        .navbar .navbar-nav > .nav-item > .nav-link {
            display: block;
        }

        .navbar .navbar-nav > .nav-item > .nav-link i {
            float: right;
            line-height: 45px;
        }

        .user-icon {
            margin-right: 0px;
        }

        .section-padding {
            padding: 80px 0;
        }

        .hero-area {
            padding: 200px 0;
        }

        .listing-places-area {
            padding-bottom: 0px;
        }

        .promo-btn {
            float: none;
        }

        .single-counter {
            margin-bottom: 30px;
        }

        .app-content, .single-blog, .single-footer {
            margin-bottom: 40px;
        }

        .footer-subscriber {
            padding: 0;
        }

        .custom-hero-breadcrumb {
            float: left;
        }

        .custom-hero-breadcrumb {
            margin-top: 15px;
        }

        .custom-hero-breadcrumb ul li:first-child {
            margin-left: 0;
        }

        .trust-content, .faq-contents, .single-listing-gallary, .file-input, .comment-form, .account-form {
            margin-bottom: 30px;
        }

        .blog-share {
            float: left;
        }


        .div-img-bg .about-img img {
            margin-top: 0;
            margin-left: 0;
            width: 100%;
        }

        .div-img-bg {
            padding-bottom: 0;
            width: 100%;
        }

        .section-title {
            margin-bottom: 30px;
        }

        .accordion a {
            font-size: 14px;
            font-weight: 700;
        }

        .accordion a:after {
            top: 15px;
        }

        .listing-place-title {
            padding: 30px 0;
            padding-top: 0px;
        }


    }

    /*
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
    */
    @media (min-width: 320px) and (max-width: 480px) {

        .navbar_fixed .navbar .navbar-nav > .nav-item.submenu .dropdown-menu {
            box-shadow: none;
        }

        .navbar .navbar-nav > .nav-item.submenu .dropdown-menu li a {
            color: #f5f5f5;
        }

        .navbar .navbar-nav > .nav-item > .nav-link {
            display: block;
        }

        .navbar .navbar-nav > .nav-item > .nav-link i {
            float: right;
            line-height: 45px;
        }

        .user-icon {
            margin-right: 0px;
        }

        .section-padding {
            padding: 80px 0;
        }


        .hero-area {
            padding: 150px 0;
        }

        .hero-area h1 {
            font-size: 48px;
            line-height: 56px;
        }

        .hero-area h1 span {
            font-size: 24px;
        }

        .listing-places-area {
            padding-bottom: 0px;
        }


        .promo-btn {
            float: none;
        }

        .single-counter {
            margin-bottom: 30px;
        }

        .app-content, .single-blog, .single-footer {
            margin-bottom: 40px;
        }

        .footer-subscriber {
            padding: 0;
        }

        .custom-hero-breadcrumb {
            float: left;
        }

        .custom-hero-breadcrumb {
            margin-top: 15px;
        }

        .custom-hero-breadcrumb ul li:first-child {
            margin-left: 0;
        }

        .trust-content, .faq-contents, .single-listing-gallary, .file-input, .comment-form, .account-form {
            margin-bottom: 30px;
        }

        .blog-share {
            float: left;
        }

        .div-img-bg .about-img img {
            margin-top: 0;
            margin-left: 0;
        }

        .div-img-bg {
            padding-bottom: 0;
            width: 100%;
        }

        .section-title {
            margin-bottom: 30px;
        }

        .accordion a {
            font-size: 12px;
            font-weight: 700;
        }

        .accordion a:after {
            top: 11px;
        }

        .listing-place-title {
            padding: 30px 0;
            padding-top: 0px;
        }

    }


    @media (min-width: 0px) and (max-width: 320px) {
        .div-img-bg .about-img img {
            margin-top: 0;
            margin-left: 0;
            width: 100%;
        }

        .div-img-bg {
            padding-bottom: 0;
            width: 100%;
        }

        .listing-place-title {
            padding: 30px 0;
            padding-top: 0px;
        }
    }
}

/*

===============================
END CSS
===============================

*/




